/* HERO SECTION */
.hero__section {
  position: relative;
  display: flex;

  justify-content: center;
}
.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.hero__background {
  width: 155px;
  height: 200px;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  transform: translateY(3px);

  position: relative;
}

.hero__animation_container {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  position: relative;
}

.hero__txt_container {
  margin-top: 1rem;
}

.hero__subtxt {
  display: none;
  margin-top: 2rem;
  font-family: var(--ff-text);
  font-size: var(--fs-txt);
  font-weight: var(--fw-regular);
  line-height: 1.4;
}

/* MEDIA QUERIES */

/* 300px */
@media (min-width: 300px) {
  .hero__background {
    width: 200px;
    height: 270px;
  }
}
/* 400px */
@media (min-width: 400px) {
  .hero__txt-container {
    margin-top: 3rem;
  }

  .hero__background {
    width: 240px;
    height: 305px;
  }
}

@media (min-width: 800px) {
  .hero__container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);

    align-content: flex-start;
  }

  .hero__subtxt {
    display: block;
  }
  .hero__txt_container {
    grid-row: 1/2;
    grid-column: 2/5;
    margin-bottom: 1rem;
  }
  .hero__animation_container {
    grid-row: 1/2;
    grid-column: 5/9;
  }
}
@media (min-width: 1200px) {
  .hero__background {
    height: 490px;
    width: 370px;
  }
}
@media (min-width: 1300px) {
  .hero__background {
    height: 550px;
    width: 420px;
  }
}
@media (min-width: 1600px) {
  .hero__subtxt {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}

@media (min-width: 1800px) {
  .hero__background {
    height: 700px;
    width: 520px;
  }
}
@keyframes scale {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
