/* NAV BAR  */

.logo {
  width: 130px;
  z-index: 100;

  color: var(--clr-white);
}
.nav {
  padding: 2rem 2rem 0 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__list {
  margin-left: auto;
  list-style: none;
  display: flex;
  flex-direction: row;
  position: relative;
}

.nav__button {
  padding: 1rem;

  background: transparent;
  border: 0;
  cursor: pointer;
  position: fixed;
  right: 0;
  z-index: 1000;
}
.hamburger__icon {
  color: var(--clr-accentFirst);
}
.nav__button_circle {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: var(--clr-white);
  display: flex;
  align-items: center;
  justify-content: center;
}

.link__container {
  cursor: pointer;
  position: relative;
  width: 150px;

  text-align: center;
}
.nav__li {
  padding: 1rem;
}
.nav__rectangle {
  display: none;
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-32%, -15%);
  background-color: var(--clr-white);
  height: 5px;
  width: 130px;
  z-index: 3;
}
.nav__circle {
  display: none;
  position: absolute;
  top: 15%;
  left: 32%;
  transform: translate(-32%, -15%);
  background-color: var(--clr-white);
  height: 130px;
  width: 130px;
  border-radius: 50%;
  z-index: 3;
}

.nav__link {
  position: relative;
  /* padding: 0.5rem; */
  font-family: var(--ff-headings);
  font-weight: var(--fw-regular);
  font-size: var(--fs-nav);
  color: var(--clr-dark);
  z-index: 5;
  text-decoration: none;
}
.link__container:hover .nav__link {
  color: var(--clr-accentFirst);
  /* font-weight: var(--fw-bold); */
}

@media (max-width: 1300px) {
  .nav__list {
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    transition: all 0.5s ease-in-out;
    background-color: var(--clr-white);
    opacity: 0.999;
    z-index: 100;
    /* clip-path: circle(0% at 50% 50%); */
    transform: translateX(+150%);
  }

  .nav__open {
    /* show links */
    /* clip-path: circle(150% at 50% 0); */
    transform: translateX(0%);
    z-index: 800;
  }
}
/* DONT SHOW ON DISPLAY MORE THEN 800 PX */
@media (min-width: 1300px) {
  .nav__button {
    display: none;
  }
  .nav__rectangle {
    display: block;
  }
  .nav__circle {
    display: block;
    pointer-events: none;
  }
  .nav__link {
    color: var(--clr-white);
    line-height: 1.4;
  }
  .dot__main {
    display: none;
  }
}

/* MEDIA QUERIES */

/* 300px */
@media (min-width: 300px) {
  .logo {
    width: 150px;
  }
  .hero__background {
    width: 200px;
    height: 270px;
    transform: translateY(11px);
  }
}
/* 400px */
@media (min-width: 400px) {
  .nav {
    padding: 2rem 3rem 0 3rem;
  }
}
/* 600px */
@media (min-width: 600px) {
  .nav__button_circle {
    height: 60px;
    width: 60px;
  }
}
/* 800px */
@media (min-width: 800px) {
  .logo {
    width: 175px;
  }
  .nav {
    padding: 2rem 4rem 0 4rem;
  }
}
@media (min-width: 1300px) {
  .nav {
    padding-top: 3rem;
    padding-left: 5rem;
  }
  .logo {
    width: 300px;
  }
}
