/* ABOUT SECTION  */
.about__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about__img {
  object-fit: contain;
  /* padding: 0 3rem; */
}

.about__txt_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about__btn {
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* MEDIA QUERIES */

/* 800px */

@media (min-width: 800px) {
  .about__container {
    align-items: flex-start;
  }
  .about__img {
    padding: 0 2rem;
  }
  .about__txt_container {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    /* margin-right: auto; */
  }
  .about__txt_container2 {
    flex-direction: row-reverse;
    margin: 0;
    margin-left: auto;
    margin-top: 6rem;
    margin-bottom: 6rem;
  }
}
