/* FOOTER */
.section__footer {
  margin-top: 4rem;
  min-height: 20vh;
  position: relative;
  border-top: 1px solid var(--clr-accentSecond);
}
.footer {
  margin-top: auto;
}
.footer__links_container {
  display: flex;
  flex-direction: column;
  margin: 2rem 0 2rem 0;
}

.footer__link {
  text-decoration: none;
  color: white;
  font-size: 0.7rem;
  cursor: pointer;
  font-weight: 300;
  font-family: var(--ff-text);
  padding-top: 0.25rem;
}
.footer__animation {
  /* display: none; */
  rotate: 270deg;
}
.copyrights {
  text-align: center;
  font-family: var(--ff-text);
  font-size: var(--fs-txt);
  padding: 0.25rem;
  /* position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%, 2%); */
}
.footer__copyright_container {
  padding-top: 4rem;
}
