/* CONTACT */
.h1__contact {
  text-align: center;
  padding: 5rem 0;
}
.contact__img_container {
  min-height: 50vh;
  position: relative;
  background-image: url(/comptrends2.jpg);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.contact__btn_one {
  border-color: #58effb;
  margin: 0 auto;
}
.contact__btn_two {
  margin: 0 auto;
}
.contact__buttons_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.contact__or {
  font-family: var(--ff-headings);
  font-weight: var(--fw-bold);
  font-size: var(--fs-h2);
}
.next__img_contact {
  margin: 0 auto;
}
.contact__img {
  display: block;
  /* max-width: 350px; */
  margin: 0 auto;
  /* padding: 5rem 1rem; */
}
.contact__container {
  margin-top: 4rem;
}
.contact__details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.contact__details_txt {
  font-family: var(--ff-text);
  font-size: var(--fs-txt);
  font-weight: var(--fw-regular);
  padding: 0.25rem 0 0.25rem 0;
}
.social__icons_contact {
  margin: 1rem 0 1rem 0;
}

@media (min-width: 800px) {
  .contact__img_container {
    min-height: 90vh;
  }
  .social__icons_contact {
    flex-direction: row;
  }
}
@media (min-width: 1300px) {
  /* .contact__buttons_container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
  } */
  .h1__contact {
    max-width: 900px;
    margin: 0 auto;
  }
  .contact__container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: start;
  }
  .contact__details {
    display: grid;
  }
  .next__img_contact {
    grid-row: 1/2;
    grid-column: 1/4;
    /* 
    width: 100%; */
  }
  .contact__details_txt {
    grid-row: 2/3;
    grid-column: 5/7;
  }

  .contact__details_email {
    grid-row: 3/4;
    width: 100%;
  }
  .contact__details_phone {
    margin-top: 2rem;
  }
  .social__icons_contact {
    grid-column: 5/7;
    grid-row: 4/5;
  }
}
