.hero__animation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.hero__dot {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: var(--clr-white);
}
.hero__line {
  height: 135px;
  width: 1px;
  background-color: var(--clr-white);
}
/* 400px */
@media (min-width: 400px) {
  .hero__line {
    height: 200px;
  }
}
/* 1200px */
@media (min-width: 1200px) {
  .hero__dot {
    width: 12px;
    height: 12px;
  }
}
