/* SECTION HEADING COMPONENT  */
.section__heading_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  /* margin-bottom: 5rem; */
}
.section__animation {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.25rem;
  width: 100px;
}
.section__line_1 {
  background-color: var(--clr-white);
}
.section__line_2 {
  background-color: var(--clr-accentFirst);
}
.section__line_3 {
  background-color: var(--clr-white);
}
.section__line_4 {
  background-color: var(--clr-accentSecond);
}
.section__line_5 {
  background-color: var(--clr-white);
}
/* .section__heading_wrapper {
  padding-left: 1rem;
} */
.section__heading_txt {
  font-size: var(--fs-h3);
  font-family: var(--ff-headings);
}
.section__sub_heading {
  padding-top: 0.25rem;
  font-family: var(--ff-headings);
  font-size: var(--fs-txt);
}
@media (min-width: 600px) {
  .section__heading_container {
    flex-direction: row;
    align-items: center;
  }
}
@media (min-width: 800px) {
  .section__heading_container {
    margin-bottom: 4rem;
  }
}
/* 
@media (min-width: 1300px) {
  .section__heading_container {
    margin-bottom: 10rem;
  }
} */
