/* OFFER SECTION */
.offer__animation_container {
  /* position: relative; */
  height: 300px;
  width: 100%;
  margin: 0 auto;
}
.circle__animation {
  /* height: 300px; */
  position: absolute;
  top: 50%;
  left: 50%;
}
.circle__one {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.circle__two {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.offer__img {
  /* max-width: 500px; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 3;
  width: 300px;
}
.offer__img_mobile {
  max-width: 500px;
  display: block;
  margin-left: auto;
}
.offer__btn {
  display: none;
}
@media (max-width: 1300px) {
  .offer__animation_container {
    position: relative;
  }
}
@media (min-width: 1300px) {
  .circle__one {
    width: 300px;
    height: 300px;
  }
  .circle__two {
    width: 200px;
    height: 200px;
  }
  .icon__read {
    color: var(--clr-accentFirst);
  }
  .offer__btn {
    cursor: pointer;
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: block;
    width: 200px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-family: var(--ff-headings);
    font-size: 0.8rem;
    font-weight: var(--fw-bold);
  }

  .offer__img_mobile {
    display: none;
  }
  .offer__wrapper {
    position: relative;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
  }
  .offer__info_help {
    grid-column: 1/5;
  }
  .offer__info_data {
    grid-column: 8/-1;
  }
  .offer__animation_container {
    grid-row: 2/3;
    grid-column: 5/7;
  }
  .offer__more_txt {
    visibility: hidden;
  }
  .help__visible {
    visibility: visible;
  }
  .data__visible {
    visibility: visible;
  }
  .offer__img_help {
    display: block;
  }
  .offer__img_data {
    display: block;
  }
}
@media (min-width: 1600px) {
  .offer__img {
    width: 400px;
  }
}
